<!-- <p>big-card works!</p> -->

<div class="container__big-card">

  <div class="big-card__photo">
      <img
        src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&amp;aspectRatio=1.78&amp;format=webp"
        alt=""
        height="200px"
        width="397px"
        srcset=""
      >
  </div>

  <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
      Lorem ipsum dolor sit amet.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ratione optio iure iste culpa, dolor explicabo fuga voluptate obcaecati quis quae in perferendis error, ad quibusdam alias ducimus ex repudiandae!
    </a>
    </p>
  </div>
</div>
