<!-- <p>home works!</p> -->

<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles_main">
    <app-big-card photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=webp"
    cardTitle="Novo Homem de Ferro Anunciado"
    cardDescription="Marvel lançará novo filme do Iron Man"
    >

    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>

<!-- <h1>NOVIDADES</h1>
<hr>


<div class="container__articles">
  <div class="articles_main">
    <app-big-card></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div> -->
